@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr>
    <hr>
    <h1 class="display-4">Welcome To The Website</h1>
    <hr>
    <hr>




    <body style="background-color:powderblue;">

        <p>enter the text you want on a green background</p>
        <label>enter text here:</label>
        <input type="text" id="userstory1left" />

        <label>text displayed:</label>
        <input type="text" id="userstory1right" />
        <button name="greentext" type="button">decimal to binary</button><br>
        <button name="greentext" type="button">binary to decimal</button><br>
    </body>

    <hr>
    <p>daniel bell, 7503592, 2/22/2019</p>
    <hr>



















</div>
