@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr>
    <hr>
    <h1 class="display-4">Welcome To The Website</h1>
    <hr>
    <hr>


    <body style="background-color:powderblue;">

        <p>enter the decimal number you wish to convert to binary:</p>
        <br>
        <label>enter number here:</label>
        <input type="text" id="decimalNumber" />

        <label>converts to:</label>
        <input type="text" id="binaryNumber" />
        <button name="" type="button">convert D2B</button>
        
        <br>
        <br>

        <p>enter the binary number you wish to convert to decimal:</p>
        <br>
        <label>enter number here:</label>
        <input type="text" id="" />

        <label>converts to:</label>
        <input type="text" id="" />
        <button name="" type="button">convert B2D</button><br>

    </body>

    <hr>
    <p>daniel bell, 7503592, 2/22/2019</p>
    <hr>



















</div>
