@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr>
    <hr>
    <h1 class="display-4">Welcome To The Website</h1>
    <hr>
    <hr>

<style>
    /* Style the footer */
    footer {
        background-color: #ffffff;
        padding: 10px;
        text-align: center;
        font: black; 
</style>


    <body style="background-color:powderblue;">


    </body>

<footer>
    <p>we hope this site has served its purpose</p>
    <p>daniel bell</p>
    <p>7503592</p>
    <p>2/22/2019</p>
</footer>


















</div>
